name: release-please

on:
  push:
    branches:
      - main  # Solo queremos que actúe cuando algo llegue a main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          # Usamos modo manifest para soportar configuración custom y multilenguaje si fuera necesario
          manifest-file: .release-please-manifest.json
          config-file: release-please-config.json
          target-branch: main
